.pr-singleLaunch {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex-basis: 45%;
  margin: 20px 15px;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }

  &__favBtn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__favIcon {
    width: 30px !important;
    height: 30px !important;
    color: hsl(355, 40%, 20%);

    &:hover {
      cursor: pointer;
      color: #ed4956;
    }

    &--red {
      color: #ed4956;
    }
  }

  &__title {
    all: unset;
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
  }

  &__date {
    margin-top: -3px;
    font-size: 1.2rem;
    font-weight: 600;
    font-size: 16px;
    color: gray;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__noImg {
    text-align: center;
    color: gray;
  }
}
